@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: RedHatText-Regular;
  src: url("../assets/fonts/RedHatText-Regular.ttf");
}

@font-face {
  font-family: RedHatText-SemiBold;
  src: url("../assets/fonts/RedHatText-SemiBold.ttf");
}

@font-face {
  font-family: RedHatText-Bold;
  src: url("../assets/fonts/RedHatText-Bold.ttf");
}

:root {
  --red-hat-text-regular: RedHatText-Regular, sans-serif;
  --red-hat-text-bold: RedHatText-Bold, sans-serif;
  --red-hat-text-semibold: RedHatText-SemiBold, sans-serif;

  --red: 14, 86%, 42%;
  --green: 159, 69%, 38%;

  --rose-50: 20, 50%, 98%;
  --rose-100: 13, 31%, 94%;
  --rose-300: 14, 25%, 72%;
  --rose-400: 7, 20%, 60%;
  --rose-500: 12, 20%, 44%;
  --rose-900: 14, 65%, 9%;
}
