---
import Layout from '../layouts/Layout.astro';
import MainLayout from '../layouts/MainLayout.astro';
import ProductLayout from '../components/product';
import Cart from "../components/cart";
import { getProduct } from '../services/get-product';

// Fetching the product list from the api
const server = new URL(Astro.url);
const items = await getProduct(server);
---

<Layout title="Product list with cart | Frontend Mentor">
	<main class="bg-rose-100 h-fit w-full overflow-y-auto overflow-x-hidden">
    <MainLayout>
      <ProductLayout items={items} />
      <Cart />
    </MainLayout>
	</main>
</Layout>
